@media (max-width: 480px) {
  body {
    padding: 0 10px;
    #container {
      ul.posts {
        .datetime { float: none; display: block; width: auto; text-align: left; }

      }
      #ind-instagram, #ind-linkedin { display: none; }
      .links, .content {
        padding: 15px;
        section.post { 
          margin: 0 -15px; 
          > p, h1, h2, h3, h4, .signoff, blockquote, .highlight { padding: 0 15px; }
          > ul, > ol { padding: 0 30px; }
        }
      }
    }
  }
}