.articles {
  list-style: none;
  margin: 0;
  padding: 0;

  .article {
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .article-info {
    padding: 10px 50px 10px 40px;
    display: block;
    color: #333;

    &:hover {
      background-color: #f9f9f9;
    }

    h3 {
      font-size: 16px;
    }
  }

  .article-select {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 16px 10px;
    font-size: 16px;
    color: #999;
    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: #f9f9f9;
      color: #555;
    }
  }

  .article-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 16px 15px;
    font-size: 16px;
    color: #999;
    z-index: 1;

    &:hover {
      background-color: #f9f9f9;
      color: #555;
    }
  }
}
