.articles {
  table {
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  tr {
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }

    &:hover td {
      background-color: #f9f9f9;
    }
  }

  th,
  td {
    padding: 15px 15px 15px 0;

    &:first-child {
      padding-left: 15px;
    }
  }

  th {
    color: #555;
    text-align: left;
  }

  td {
    &.min {
      width: 1%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.max {
      width: 99%;
    }

    a {
      color: #888;
      padding: 15px;

      &:hover {
        color: $linkColor;
      }
    }

    h3 {
      font-size: 1em;
      font-weight: normal;
      margin: 0;

      a {
        color: #333;
        padding-left: 0;
      }
    }
  }
}
