.discussions {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .discussion {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    line-height: 1.6em;
    @include box-shadow(0 1px 0 #ddd);
    @include clearfix();

    a {
      padding: 14px 14px 14px 78px;
      position: relative;
      min-height: 50px;
      display: block;
      color: #555;
    }

    &:hover {
      border-color: #ccc;
    }

    .avatar {
      position: absolute;
      top: 14px;
      left: 14px;
      width: 50px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 25px;
      }
    }

    .author {
      font-weight: bold;
    }

    .title {
      color: $linkColor;
    }

    .summary {
    }

    .comments-count {
      padding: 0 9px;
      background-color: #aaa;
      margin-left: 5px;
      border-radius: 9px;
      color: #fff;
    }

    .date {
    }
  }
}

.discussion-form {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
  border-radius: 2px;
  @include box-shadow(0 2px 0 #ddd);

  h1 {
    margin: 0;

    input {
      width: 100%;
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  .body {
    min-height: 250px;
    outline: none;
  }

  .mini-toolbar {
    .button {
      padding: 5px 12px;
      cursor: pointer;
    }
  }
}

.comments {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li.comment {
      border-bottom: 1px solid #ddd;
    }
  }

  .comment {
    position: relative;
    padding: 20px 0 20px 70px;
    min-height: 50px;
  }

  .avatar {
    position: absolute;
    left: 0;

    img {
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }

  .author {
    font-weight: bold;
  }

  .dropdown-toggle {
    padding: 7px;
    display: inline;
    color: #999;

    &:hover {
      color: #555;
    }
  }

  .dropdown-menu {
    top: 20px;
  }

  .discussion-form {
    .body {
      min-height: 100px;
    }
  }
}

.topic {
  .topic-header {
    padding-left: 70px;

    h1 {
      margin: 0;
    }

    .label {
      display: inline-block;
      padding: 0 6px;
      margin-right: 6px;
      background-color: #ccc;
      border-radius: 3px;
      color: #fff;
    }
  }
}
