#home {
  padding: 70px;

  @media (max-width: 960px) {
    padding: (70px / $container-width) * 100%;
  }

  .center {
    text-align: center;
  }

  img {
    max-width: 100%;
    @include box-shadow(0 3px 8px rgba(0, 0, 0, 0.5));
  }

  section {
    margin-bottom: 60px;
    @include clearfix();
  }

  h1 {
    margin-top: 0;
  }

  li {
    margin: 5px 0;
  }

  #masthead {
    .quiet {
      color: #999;
    }

    .pic {
      float: left;
      width: 60%;
      margin-right: 5%;
    }

    .info {
      float: left;
      width: 35%;
    }

    @media (max-width: 640px) {
      .pic,
      .info {
        float: none;
        width: 100%;
      }

      h1 {
        margin-top: 20px;
      }
    }
  }

  #features {
    .column {
      width: 30%;
      margin-right: 5%;
      float: left;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 640px) {
        width: 100%;
        margin-right: 0;
        float: none;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;

      @media (max-width: 640px) {
        text-align: left;
      }
    }

    h3 {
      i {
        width: 1.2em;
        margin-right: 0.5em;
      }
    }
  }
}
