.two-columns {
  @include clearfix();

  .column {
    float: left;
    width: 45%;
    margin-right: 5%;
  }

  .title {
    margin-top: 0;
  }
}

table.nice-table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  @include box-sizing(border-box);

  tr {
    border-bottom: 1px solid #ddd;
  }

  th {
    text-align: left;
    @include linear-gradient(#fff, #eee);
  }

  th, td {
    padding: 15px;

    &.align-right {
      text-align: right;
    }
  }

  &.max {
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .min {
    width: 1%;
    white-space: nowrap;
  }

  .button {
    display: inline;
  }
}

.container {
  margin: 0 auto;
  width: $container-width;
}

// signup, login
.signup,
.login {
  margin: 100px auto;
  width: 358px;
  max-width: 90%;
  padding: $commonPadding;
  background-color: #fff;
  @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
  @include box-sizing(border-box);

  h2 {
    margin-top: 0;
  }

  .field {
    width: 100%;

    .input-append,
    #{$all-text-inputs},
    textarea {
      width: 100%;
    }
  }
}

// topbar

$mainSidebarWidth: $container-width - $editor-container-width;

$topbarLinkColor: #eee;
$topbarLinkBackgroundColor: #333;
$topbarLinkHoverColor: #333;
$topbarLinkHoverBackgroundColor: white;

#topbar {
  margin-bottom: $commonMargin;
  color: $topbarLinkColor;
  background-color: $topbarLinkBackgroundColor;
  @include linear-gradient(#555, #333);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.3));

  .container {
    position: relative;
  }

  .space-menu {
    width: $mainSidebarWidth;
    position: absolute;
    left: 0;

    .dropdown,
    .dropdown-toggle {
      display: block;
    }
  }

  .sub-menu {
    margin-left: $mainSidebarWidth;
    .dropdown,
    .dropdown-toggle {
      vertical-align: top;
    }
  }

  .topbar-button {
    padding: 10px $commonPadding;
    display: inline-block;
    color: $topbarLinkColor;
    @include transition(all 0.15s ease);

    &.actived {
      background-color: #333;
    }

    &:hover {
      background-color: $topbarLinkHoverBackgroundColor;
      color: $topbarLinkHoverColor;
    }
  }

  .dropdown {
    .dropdown-toggle {
      padding: 10px ($commonPadding + 15px) 10px $commonPadding;
      color: $topbarLinkColor;

      &:after {
        padding-right: $commonPadding;
      }

      &:hover {
        background-color: $topbarLinkHoverBackgroundColor;
        color: $topbarLinkHoverColor;
      }
    }

    .dropdown-menu {
      font-weight: normal;

      li {
        a {
          padding: 10px $commonPadding;
        }
      }
    }

    &.actived {
      .dropdown-toggle {
        background-color: $topbarLinkHoverBackgroundColor;
        color: $topbarLinkHoverColor;
      }
    }
  }
}

// main

#main {
  margin-bottom: $commonMargin;

  .inner {
    background-color: #fff;
    @include box-shadow(0 0 2px rgba(0, 0, 0, 0.3));
    @include clearfix();
  }

  .main-container {
    display: table;
    width: 100%;
  }

  .main-sidebar {
    width: $mainSidebarWidth;
    display: table-cell;
    background-color: #f9f9f9;

    nav.main-sidebar-nav {
      margin-bottom: $commonMargin;

      li.main-sidebar-item {
        &:hover {
          background-color: white;
        }

        > a {
          padding: 15px $commonPadding;
          display: block;
          position: relative;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #333;

          &:hover {
            color: $linkColor;
          }
        }

        &.actived {
          background-color: white;

          > a {
            color: $linkColor;
            padding-left: $commonPadding - 4px;
            border-left: 4px solid $linkColor;
          }
        }

        &.append-dropdown {
          padding-right: 45px;
          position: relative;

          .dropdown {
            position: absolute;
            top: 0;
            right: 0;

            &.actived {
              a.dropdown-toggle {
                visibility: visible;
              }
            }
          }

          a.dropdown-toggle {
            visibility: hidden;
            border-left: none;
            padding: 15px;

            &:hover {
              color: $linkColor;
            }

            i {
              width: 15px;
              margin-right: 0;
            }
          }

          &:hover,
          &.actived {
            a.dropdown-toggle {
              visibility: visible;
            }
          }

          .dropdown-menu {
            top: 100%;
          }
        }
      }
    }
  }

  .main-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: $commonPadding;
    margin-bottom: $commonMargin;

    h2 {
      margin: 0;
    }
  }

  .main-content {
    display: table-cell;
    vertical-align: top;
    padding: $commonPadding;
    @include box-sizing(border-box);
  }


  .main-actions {
    margin-bottom: $commonPadding;
  }

  section {
    margin-bottom: $commonMargin;
    @include clearfix();

    &:last-child {
      margin-bottom: 0;
    }

    header {
      h3 {
        margin-top: 0;
      }
    }

  }

  .empty-message {
    padding: 15px;
    border: 2px dashed #ddd;
    text-align: center;
    color: #999;
  }
}

#paginator {
  margin-top: 20px;
  @include clearfix();

  .next {
    float: right;

    i {
      margin-right: 0;
      margin-left: 5px;
      text-align: right;
    }
  }

  .prev {
    float: left;

    i {
      text-align: left;
    }
  }
}

#main-sidebar-background {
  background-color: white;
  @include transition(background-color 0.15s ease);
}

#sidebar-button.topbar-button {
  display: none;
}

@media (max-width: 480px) {
  .two-columns {
    .column {
      width: auto;
      float: none;
      margin-bottom: $commonMargin;
      margin-right: 0;
    }
  }
}

@media (max-width: $container-width) {
  .container {
    width: 100%;
  }
}

@media (max-width: $editor-container-width) {
  .space-menu {
    #sidebar-button.topbar-button {
      cursor: pointer;
      display: inline-block;
      position: absolute;
      left: 0;

      i {
        width: 15px;
        margin-right: 0;
      }
    }

    .dropdown {
      margin-left: $commonPadding * 2 + 15px;
    }
  }

  #topbar {
    margin-bottom: 0;
  }

  #main {
    margin-bottom: 0;

    .main-container {
      display: block;
      position: relative;
    }

    .main-sidebar {
      display: block;
      position: absolute;
      width: $mainSidebarWidth;
      left: -$mainSidebarWidth;
      top: 0;
      bottom: 0;
      @include transition(left 0.15s ease);
    }

    .main-content {
      display: block;
      margin-left: 0;
    }

    &.show-sidebar {
      .main-sidebar {
        left: 0;
        z-index: 1;
        @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
      }

      .main-content {
        z-index: -1;
      }

      #main-sidebar-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

#footer {
  margin: $commonMargin 0 $commonMargin*2;
  .inner {
    padding: 0 $commonPadding;
  }

  .pull-left {
    color: #555;
  }

  .pull-right {
    a {
      color: #999;
      padding-left: 10px;

      &:hover {
        color: #555;
      }
    }
  }
}

.flash-message {
  padding: 10px 34px 10px 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: relative;
  @include clearfix();

  .flash-close {
    cursor: pointer;
    position: absolute;
    width: 14px;
    padding: 10px;
    top: 0;
    right: 0;
  }

  &.flash-success {
    background-color: lighten($green, 5%);
    border-color: $green;
    color: #fff;
  }

  &.flash-info {
    background-color: lighten($blue, 5%);
    border-color: $blue;
    color: #fff;
  }

  &.flash-warning {
    background-color: lighten($yellow, 5%);
    border-color: $yellow;
    color: #fff;
  }

  &.flash-error {
    background-color: lighten($red, 5%);
    border-color: $red;
    color: #fff;
  }
}
