$topbarPadding: 15px 30px;
$topbarMinPadding: 15px 20px;

#topbar {
  background-color: white;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  @include clearfix();
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));

  .topbar-nav {
    margin: 0;
    padding: 0;
    @include clearfix();

    &.pull-right {
      .topbar-nav-item {
        border-left: 1px solid #ddd;
        border-right: none;
      }
    }
  }

  .topbar-nav-item {
    float: left;
    display: block;
    border-right: 1px solid #ddd;

    &.text {
      padding: $topbarPadding;
      border-right: none;
      font-weight: bold;
    }

    a {
      padding: $topbarPadding;
      display: block;
      cursor: pointer;
      color: #333;

      &.min {
        padding: $topbarMinPadding;
      }

      &.actived {
        color: $linkColor;
        padding-bottom: 11px;
        border-bottom: 4px solid $linkColor;
      }

      &:hover {
        background-color: $linkColor;
        color: white;
      }
    }
  }

  .pull-right {
    .topbar-item {
      border-right: none;
      border-left: 1px solid #ddd;
    }
  }

  .sidebar {
    position: fixed;
    top: 50px;
    left: -250px;
    bottom: 0;
    border-top: 1px solid #ddd;
    width: 250px;
    z-index: 999;
    background-color: white;
    @include transition(left 0.2s);

    hr {
      margin: 5px 0;
    }
  }

  .sidebar-item {
    a {
      padding: $topbarMinPadding;
    }

    .dropdown {
      width: 100%;
    }

    .dropdown-toggle {
      padding-right: 45px;

      &:after {
        padding-right: 25px;
      }
    }
  }

  .sidebar-background {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }

  &.show-sidebar {
    .sidebar {
      left: 0;
      @include box-shadow(5px 0 5px -5px rgba(0, 0, 0, 0.3));
    }

    .sidebar-background {
      display: block;
    }
  }
}

#main {
  .container {
    width: 768px;
    margin: 70px auto 20px;

    @media (max-width: 768px) {
      width: 95%;
    }
  }

  .inner {
    padding: 20px;
  }

  .main-section {
    background-color: white;
    border-radius: 2px;
    margin-bottom: 20px;

    @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.3));

    h3.title {
      margin-bottom: 20px;
    }
  }
}

#paginator {
  @include clearfix();

  .prev {
    float: left;
  }

  .next {
    float: right;
    margin-right: 0;
  }
}
