.members {
  ul {
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
  }

  .member {
    margin-bottom: 20px;
    @include clearfix();

    .avatar {
      float: left;
      width: 30%;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }

    .info {
      float: left;
      width: 70%;

      .name {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .action,
      .email {
        margin-bottom: 10px;
      }
    }
  }
}
