.members {
  ul {
    list-style: none;
    margin-bottom: $commonMargin;
    padding: 0;
  }

  .member {
    margin-bottom: $commonMargin;
    position: relative;
    min-height: 100px;
    @include clearfix();

    .avatar {
      position: absolute;
      left: 0;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }

    .info {
      margin-left: 120px;

      .name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: $commonMargin / 2;
      }

      .action,
      .email {
        margin-bottom: $commonMargin / 2;
      }
    }
  }
}
