article
  h1 = link_to article.title, site_article_path(article, :urlname => article.urlname)
  .summary = link_to article_summary_body(article.body), site_article_path(article, :urlname => article.urlname)
