defaults: &defaults
  host: 'localhost'
  site_name: 'Site Name'

  admin_emails:
    - 'chloerei@gmail.com'

  alipay:
    pid: ''
    key: ''
    seller_email: ''

  s3:
    aws_access_key_id: ''
    aws_secret_access_key: ''
    region: 'ap-northeast-1'
    fog_directory: 'writingsiotest' # bucket

  ses:
    user_name:
    password:

  recaptcha:
    public_key: ''
    private_key: ''

development:
  <<: *defaults

test:
  <<: *defaults
  host: 'test.host'

production:
  <<: *defaults
