production:
  sessions:
    default:
      database: writings_production
      hosts:
        - localhost:27017
  options:
    identity_map_enabled: true

development:
  sessions:
    default:
      database: writings_development
      hosts:
        - localhost:27017
  options:
    identity_map_enabled: true

test:
  sessions:
    default:
      database: writings_test
      hosts:
        - localhost:27017
  options:
    identity_map_enabled: true
