@import "normalize";
@import "bourbon";
@import "font-awesome";
@import "variables";
@import "highlight_js/github";

// base

body {
  color: #333;
  background-color: #efefef;
  font-size: 14px;
  line-height: 140%;
}


h1, h2, h3, h4 {
  margin: 1.6em 0 1em;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  margin: 1em 0;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    color: darken($linkColor, 10%);
  }
}

a [class^="icon-"],
a [class*=" icon-"] {
  width: 1.2em;
  text-align: center;
  margin-right: 0.5em;
  display: inline-block;

  &.no-margin {
    margin-right: 0;
  }
}

article {
  //font-size: 1em;
  line-height: 160%;
  word-wrap: break-word;

  * {
    line-height: 160%;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    margin: 1em 0;
    padding: 0 0 0 1em;
    border-left: 0.5em solid #ccc;
    color: #555;
  }

  p code {
    margin: 0 0.5em;
    padding: 0 0.5em;
    background-color: #efefef;
  }

  pre code {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0.3em;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  background-color: #ccc;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-spin {
  @include animation(spin 1s infinite linear);
}

.clearfix {
  @include clearfix();
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hide {
  display: none !important;
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: inherit !important;
  }
}

@media (max-width: 768px) {
  .hide-on-tablet {
    display: none !important;
  }

  .show-on-tablet {
    display: inherit !important;
  }
}

// form

#{$all-text-inputs},
textarea {
  border: 1px solid #ccc;
  padding: $buttonPaddingY;
  margin-right: 1em;
  outline: 0;
  border-radius: $buttonRadius;
  width: 25em;
  max-width: 100%;
  line-height: 1.4em;
  @include box-sizing(border-box);

  &.full-width {
    width: 100%;
  }
}

#{$all-text-inputs} {
  vertical-align: middle;
}

textarea {
  height: 10em;
}

select {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: $buttonPaddingY $buttonPaddingX;
  outline: 0;
  border-radius: $buttonRadius;
}

.input-prepend,
.input-append{
  display: table;
  width: 25em;

  #{$all-text-inputs} {
    width: 100%;
  }

  .input {
    width: 99%;
    display: table-cell;
    vertical-align: top;
    margin: 0;
  }

  .add-on {
    width: 1%;
    display: table-cell;
    vertical-align: top;
    background-color: #eee;
    padding: 7px;
    border: 1px solid #ccc;
  }
}

.input-prepend {
  .add-on {
    border-radius: $buttonRadius 0 0 $buttonRadius;
    border-right: 0;
  }

  #{$all-text-inputs} {
    border-radius: 0 $buttonRadius $buttonRadius 0;
  }
}

.input-append {
  .add-on {
    border-radius: 0 $buttonRadius $buttonRadius 0;
    border-left: 0;
  }

  #{$all-text-inputs} {
    border-radius: $buttonRadius 0 0 $buttonRadius;
  }
}

.field {
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
    margin-bottom: 0.5em;
  }

  &.field-error {
    label {
      color: $red;
    }

    textarea,
    #{$all-text-inputs} {
      border-color: $red;
    }

    label.message {
      margin: 0.5em 0 0;

      &::before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f05e"; // ban-icon
        margin-right: 0.5em;
      }
    }
  }
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 1.5em;
  @include clearfix();

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  legend {
    font-weight: bold;
    color: #555;
    margin-bottom: 1.5em;
  }
}


// button

@mixin button-color($color, $textColor, $borderColor) {
  color: $textColor;
  border: 1px solid $borderColor;
  background-color: $color;
  @include linear-gradient($color, darken($color, 2%));

  &:hover,
  &:focus {
    color: $textColor;
    text-decoration: none;
    @include linear-gradient(lighten($color, 2%), $color);
    @include box-shadow(0 0 1px rgba(0, 0, 0, 0.3));
  }

  &.button-actived,
  &:active {
    @include linear-gradient(darken($color, 2%), darken($color, 6%));
    @include box-shadow(inset 0 1px 0 darken($color, 15%));
  }

  &.button-disabled {
    color: #999;

    &:hover,
    &:focus,
    &:active {
      cursor: default;
      background-color: darken($color, 10%);
      background-image: none;
      @include box-shadow(none);
    }
  }
}

input[type=submit],
button,
.button {
  padding: $buttonPaddingY $buttonPaddingX;
  margin-right: 1em;
  line-height: 1.4em;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  border-radius: $buttonRadius;
  cursor: pointer;
  @include button-color(#fefefe, #333, #ccc);

  &.no-margin {
    margin: 0;
  }

  &.button-primary {
    @include button-color($linkColor, #fff, darken($linkColor, 10%));
  }

  &.button-green {
    @include button-color($green, #fff, darken($green, 10%));
  }

  &.button-danger {
    @include button-color($red, #fff, darken($red, 10%));
  }

  &.button-large {
    font-size: 1.2em;
    padding: $buttonPaddingY $buttonPaddingX * 1.5;
  }
}

a.button:hover {
  text-decoration: none;
}

.button-group {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;

  &.no-margin {
    margin: 0;
  }

  input[type=submit],
  button,
  .button {
    margin-right: 0;
    border-right-width: 0;
    border-radius: 0;

    &:first-child {
      border-radius: $buttonRadius 0 0 $buttonRadius;
    }

    &:last-child {
      border-right-width: 1px;
      border-radius: 0 $buttonRadius $buttonRadius 0;
    }
  }
}

// dropdown

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  a {
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }

  .dropdown-toggle {
    position: relative;
    padding: $buttonPaddingY ($buttonPaddingX + 1em) $buttonPaddingY $buttonPaddingX;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &.button {
      margin-right: 0;
    }

    &:after {
      position: absolute;
      right: 0;
      padding-right: 1em;
      font-family: FontAwesome;
      content: "\f0d7";
    }

    &.no-arrow {
      &:after {
        content: none;
      }

      .show-on-active {
        display: none;
      }

      .hide-on-active {
        display: inline;
      }
    }
  }

  &.actived {
    .dropdown-toggle.no-arrow {
      &:after {
        content: none;
      }

      .show-on-active {
        display: inline;
      }

      .hide-on-active {
        display: none;
      }
    }
  }

  .dropdown-menu {
    display: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 0;
    background: #fff;
    white-space: nowrap;
    @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.3));

    &.align-right {
      left: auto;
      right: 0;
    }

    li {
      display: block;
      cursor: pointer;
      float: none;

      hr {
        margin: 3px 0;
      }

      a {
        display: block;
        padding: $buttonPaddingY $buttonPaddingX;

        &:hover {
          background-color: #eee;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &.actived {
    .dropdown-toggle.button {
      @include linear-gradient(darken(#fff, 6%), darken(#fff, 9%));
    }

    .dropdown-toggle:after {
      content: "\f0d8";
    }

    .dropdown-menu {
      display: block;
    }
  }
}

// tabs

.tabs {
}

.tab-pane {
  display: none;

  &.actived {
    display: block;
  }
}

// modal

#modal-background {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;

  &.level-2 {
    z-index: 2000;
  }
}

.modal-dialog {
  position: fixed;
  display: none;
  width: 30em;
  max-width: 90%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  background: white;
  border: 1px solid #ccc;
  overflow: auto;
  @include box-shadow(0 4px 16px rgba(0, 0, 0, 0.5));
  @include box-sizing(border-box);

  &.no-scroll {
    overflow: visible;
  }

  .modal-header {
    @include clearfix();

    .title {
      padding: 1em;
      float: left;
      font-weight: bold;
      color: #555;
    }

    .modal-close {
      display: inline-block;
      cursor: pointer;
      float: right;
      padding: 1em;
      color: #999;

      i {
        margin-right: 0;
      }

      &:hover {
        color: #444;
      }
    }
  }

  .modal-content {
    padding: 1em;
    @include clearfix();
  }

  .dropdown-menu {
    max-height: 10em;
    overflow: auto;
  }

  .field {
    .input-prepend,
    .input-append,
    #{$all-text-inputs} {
      width: 100%;
    }

    textarea {
      width: 100%;
    }
  }

  .tabs {
    float: left;
    width: 20%;

    nav {
      li {
        a {
          display: block;
          color: #555;
          padding: 1em;
          position: relative;
          overflow: hidden;
          white-space: nowrap;

          &.actived,
          &:hover {
            color: $linkColor;
          }
        }
      }
    }
  }

  .tab-content {
    padding: 1em;
    float: right;
    width: 80%;
    @include box-sizing(border-box);
  }
}

// alert message

#alert-messages {
  position: fixed;
  top: 3em /* topbar height */ + $commonMargin + $commonPadding;
  right: 50%;
  margin-right: -($container-width / 2 - $commonPadding);
  z-index: 2000;

  @media (max-width: $container-width) {
      right: $commonPadding;
      top: 3em + $commonPadding;
      margin-right: 0;
  }

  .alert-message {
    float: right;
    clear: both;
    padding: $buttonPaddingY $buttonPaddingX;
    background-color: #999;
    border-radius: $buttonRadius;
    color: #fff;
    margin-bottom: 0.5em;
    @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.3));

    i {
      margin-right: 0.5em;
    }

    i.icon-remove {
      cursor: pointer;
      margin-left: 0.5em;
      margin-right: 0;
    }

    &.alert-info {
      background-color: $blue;
    }

    &.alert-warning {
      background-color: $yellow;
    }

    &.alert-error {
      background-color: $red;
    }

    &.alert-success {
      background-color: $green;
    }
  }
}
