@import "common";

.container {
  margin: 0 auto;
  width: $container-width;

  @media (max-width: 960px) {
    width: 100%;
  }
}

.editor-container {
  margin: 0 auto;
  width: $editor-container-width;

  @media (max-width: 768px) {
    width: 100%;
  }

  .alert-message {
    margin-right: -364px;
    top: 102px;
  }
}

// signup, login
.signup,
.login {
  margin: 100px auto;
  width: 90%;
  max-width: 350px;
  padding: 40px;
  background-color: #fff;
  @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
  @include box-sizing(border-box);

  .field {
    width: 100%;

    #{$all-text-inputs},
    textarea {
      width: 100%;
    }
  }
}

// guest index

#masthead {
  padding: 70px;

  @media (max-width: 960px) {
    padding: (70 / 960) * 100%;
  }

  section {
    min-height: 320px;
    @include clearfix();
  }

  h1 {
    margin-top: 0;
  }

  .quiet {
    color: #999;
  }

  .pic {
    float: left;
    width: 60%;
    margin-right: 5%;

    img {
      max-width: 100%;
      @include box-shadow(0 3px 8px rgba(0, 0, 0, 0.5));
    }
  }

  .info {
    float: left;
    width: 35%;

  }

  @media (max-width: 640px) {
    .pic,
    .info {
      float: none;
      width: 100%;
    }

    h1 {
      margin-top: 1.6em;
    }
  }
}

#features {
  padding: 0 70px;

  @media (max-width: 960px) {
    padding: 0 (70 / 960) * 100%;
  }

  section {
    margin-bottom: 70px;
    min-height: 240px;
    @include clearfix();
  }

  h3 {
    margin-top: 0;
  }

  .pic {
    float: left;
    width: 45%;

    img {
      max-width: 100%;
      @include box-shadow(0 3px 8px rgba(0, 0, 0, 0.5));
    }
  }

  .info {
    float: right;
    width: 45%;
  }

  .reverse {
    .pic {
      float: right;
    }

    .info {
      float: left;
    }
  }

  @media (max-width: 640px) {
    section {
      margin-bottom: 50px;
    }

    .pic,
    .info {
      width: 100%;
      float: none;
    }

    h3 {
      margin-top: 1.6em;
    }
  }

}

#upto-top {
  margin: 70px 0;

  a {
    padding: 10;
    font-size: 1.5em;
    color: #999;
    display: block;
    text-align: center;

    &:hover {
      color: #555;
    }
  }
}

// topbar

#topbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  border-bottom: 1px solid #ccc;
  @include transition(top 0.15s ease);

  &.no-shadow {
    @include box-shadow(none);
  }

  ul.top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;
    @include clearfix();

    > li {
      display: inline-block;
      float: left;
      height: 48px;

      > a {
        padding: 15px 20px;
        display: block;
        color: #555;
        @include transition(all 0.15s ease);

        &.actived {
          padding-bottom: 10px;
          border-bottom: 5px solid $linkColor;
        }

        &:hover {
          background-color: #f9f9f9;
        }
      }
    }
  }

  .dropdown {
    height: 48px;

    .dropdown-toggle {
      padding: 15px 35px 15px 20px;
      color: #555;
      vertical-align: baseline;

      &:after {
        padding: 2px 20px;
      }

      &.actived {
        padding-bottom: 10px;
        border-bottom: 5px solid $linkColor;
      }

      &:hover {
        background-color: #f9f9f9;
      }
    }

    .dropdown-menu {
      top: 49px;
      width: 150px;
      font-weight: normal;

      li {
        a {
          padding: 10px 20px 9px;
        }
      }
    }

    &.actived {
      .dropdown-toggle {
        background-color: #f9f9f9;
      }
    }
  }
}

// main

html,
body {
  height: 100%;
}

#main {
  height: 100%;

  .container {
    height: 100%;
  }

  .inner {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    @include clearfix();

    &.inner-full-height {
      padding-top: 49px;
      min-height: 100%;
      @include box-sizing(border-box);
    }

    @media (max-width: 960px) {
      border: 0;
    }

    .tabs {
      position: fixed;
      top: 49px;
      line-height: 18px;
      z-index: 9;
      width: 960px - 200px - 1px;

      @media (max-width: 960px) {
        width: 760 / 960 * 100%;
      }

      @media (max-width: 640px) {
        width: 100%;
      }

      .tabs-inner {
        background-color: #f9f9f9;
        border-bottom: 1px solid #ccc;
        padding: 10px 20px;

        .label {
          padding: 7px 0;
          display: inline-block;
          color: #555;
          font-weight: bold;
        }
      }
    }

    .tabs-margin {
      margin-top: 55px;
    }

    #bulkbar {
      visibility: visible;
      opacity: 1;
      @include transition(opacity 0.15s ease);

      .inner {
        @include box-shadow(none);
      }

      &.bulkbar-hide {
        visibility: hidden;
        opacity: 0;
        @include transition(visibility 0s ease 0.15s, opacity 0.15s ease);
      }
    }

    #category-selector.dropdown {
      .dropdown-toggle {
        width: 100px;
      }

      .dropdown-menu {
        width: 137px;
      }
    }

    #main-nav {
      position: fixed;
      width: 200px - 1px;
      height: 100%;
      background-color: #fff;
      height: 100%;
      top: 0;
      padding-top: 49px;
      border-right: 1px solid #ccc;
      @include box-sizing(border-box);

      @media (max-width: 960px) {
        width: 200 / 960 * 100%;
      }

      @media (max-width: 640px) {
        width: 200px;
        z-index: 10;
        left: -209px;
        @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
        @include transition(left 0.15s ease);

        &.appear {
          left: 0;

          #main-nav-background {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -2;
          }
        }
      }

      .scroll-nav {
        position: fixed;
        top: 0;
        padding-top: 164px;
        height: 100%;
        width: 200px - 2px;
        z-index: -1;
        @include box-sizing(border-box);

        @media (max-width: 960px) {
          width: 200 / 960 * 100%;
        }

        @media (max-width: 640px) {
          width: 199px;
        }

        nav {
          overflow-y: auto;
          height: 100%;
        }
      }

      nav {
        li {
          hr {
            margin: 0;
          }

          a {
            display: block;
            color: #555;
            padding: 10px 20px;
            position: relative;
            @include transition(none);

            .label {
              overflow: hidden;
              white-space: nowrap;
              margin-right: 10px;
            }

            &.actived,
            &:hover {
              background-color: #f9f9f9;
              &:after {
                content: "\f054";
                font-family: FontAwesome;
                position: absolute;
                right: 10px;
                top: 13px;
              }
            }
          }
        }
      }
    }

    #main-content {
      float: left;
      margin-left: 199px;
      width: 960px - 200px - 1px;

      #{$all-text-inputs},
      textarea {
        width: 50%;
      }

      @media (max-width: 960px) {
        width: 760 / 960 * 100%;
        margin-left: 200 / 960 * 100%;
      }

      @media (max-width: 640px) {
        width: 100%;
        margin-left: 0;
      }

      @media (max-width: 480px) {
        #{$all-text-inputs},
        textarea {
          width: 100%;
        }

      }

      section {
        padding: 20px;
      }

    }
  }

  #articles {
    table {
      width: 100%;

      tr {
        border-bottom: 1px solid #ddd;

        &:hover {
          background-color: #f9f9f9;
          cursor: pointer;
        }

        &.selected {
          background-color: #eee;
        }

        &.publish {
          .icon-status:before {
            color: gray;
            content: "\f0f6";
          }
        }

        &.draft {
          .icon-status:before {
            color: gray;
            content: "\f016";
          }
        }

        &.trash {
          .icon-status:before {
            color: gray;
            content: "\f014";
          }
        }
      }

      td {
        padding: 15px 20px;

        &.title {
          width: 99%;

          i {
            margin-right: 5px;
          }
        }

        &.category,
        &.date {
          width: 1%;
          white-space: nowrap;
          text-align: right;
        }

        .category_name {
          font-size: 0.9em;
          color: #fff;
          padding: 3px 5px;
          background-color: #999;
          border-radius: 3px;
        }
      }

      a {
        color: #555;

        &:hover {
          color: $linkColor;
        }
      }
    }
  }

  #empty-message {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px dashed #ccc;
    color: #999;
  }

  #end-message {
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: #999;
  }

  #articles-spinner {
    text-align: center;
    padding: 10px;
    color: #999;
  }
}

// editor

#editor-header {
  line-height: 18px;

  .pull-right {
    padding: 15px 0;
  }

  .button {
    display: inline;
  }

  .button-group {
    margin-right: 0;
  }

  #save-status {
    display: inline-block;
    margin-right: 10px;
    color: #999;

    .saving,
    .saved,
    .retry {
      display: none;
    }

    .show {
      display: inherit;
    }
  }

  @media (max-width: 768px) {
    .button-group {
      margin-right: 10px;
    }
  }
}

#toolbar {
  background-color: #555;
  position: fixed;
  top: 49px;
  left: 0;
  right: 0;
  z-index: 9;
  @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
  @include transition(top 0.15s ease);

  ul.toolbar-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix();

    [class^="icon-"], [class*=" icon-"] {
      line-height: 14px;
    }

    > li {
      display: inline-block;
      float: left;
      height: 34px;

      a {
      }

      .toolbar-button {
        padding: 10px;
        display: block;
        color: #fff;

        &:hover {
          text-decoration: none;
          color: #555;
          background-color: #f9f9f9;
        }

        &.actived,
        &:active {
          color: #555;
          background-color: #f9f9f9;
        }

        &.disabled,
        &.disabled:hover,
        &.disabled:focus {
          color: #999;
          background-color: #555;
        }
      }
    }

    p, h1, h2, h3, h4, pre, blockquote {
      padding: 0;
      margin: 0;
    }

    .dropdown {
      position: relative;
      height: 34px;

      .dropdown-toggle {
        width: 80px;
        padding-right: 20px;
        font-weight: bold;
        line-height: 14px;

        &:after {
          right: 0;
          padding: 2px 10px;
        }
      }

      .dropdown-menu {
        top: 36px;
        left: 0;

        li {
          display: block;
          float: none;

          a {
            padding: 10px;

            &:hover {
              h1, h2, h3, h4 {
                color: #fff;
              }
            }
          }
        }
      }

      &.actived {
        .dropdown-toggle {
          color: #555;
          background-color: #f9f9f9;
        }
      }
    }
  }
}

#editarea {
  margin-top: 86px;
  @include transition(margin-top 0.15s ease);

  article {
    background: #FFF;
    padding: 70px;
    outline: 0;
    min-height: 1024px;
    margin-bottom: 60px;
    @include box-shadow(0 0 0 1px #ccc);

    @media (max-width: 768px) {
      padding: 70 / 768 * 100%;
    }

    &.init {
      h1 {
        position: relative;

        &:after {
          content: "Title here";
          color: #ccc;
          float: left;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.pick-up-topbar {
  #topbar {
    top: -49px;
  }

  #toolbar {
    top: 0;
  }

  #editarea {
    margin-top: 37px;
  }

  #pick-up-button.icon-double-angle-up:before {
    content: "\f103";
  }

  .alert-message {
    top: 57px;
  }
}

#help-modal {
  width: 450px;

  table {
    width: 100%;

    tr {
      &:nth-child(odd) {
        background-color: #f9f9f9;
      }
    }

    th, td {
      padding: 10px;
      vertical-align: top;
      text-align: center;
    }

    th {
    }
  }
}

#image-modal {
  width: 450px;

  .preview,
  .dropable {
    height: 180px;
    width: 100%;
    border: 2px dashed #ccc;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    @include box-sizing(border-box);

    .center {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 20px;
    }

    h2 {
      margin: 0 0 10px;
      color: #999;
    }
  }

  .button-fileinput {
    position: relative;
    overflow: hidden;

    input {
      opacity: 0;
      position: absolute;
      top: -1px;
      right: -1px;
      cursor: pointer;
      height: 34px;
    }
  }

  .filename {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .progress {
    display: none;
    height: 5px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 2px;

    .bar {
      width: 0%;
      height: 100%;
      background-color: #ccc;
    }
  }
}
