select {
  border: none;
  background-color: transparent;
  outline: none;

  option {
    background: white;
  }
}

@mixin button-color($color) {
  background-color: $color;
  border: 1px solid darken($color, 15%);
  @include linear-gradient(lighten($color, 5%), $color);

  &:hover, &:focus {
    background-color: darken($color, 5%);
    @include linear-gradient($color, darken($color, 5%));
  }

  &:active,
  &.button-actived {
    background-color: darken($color, 10%);
    @include linear-gradient(darken($color, 10%), darken($color, 10%));
    @include box-shadow(inset 0 2px 4px darken($color, 20%));
  }
}

a.button {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.button
{
  padding: 2px 6px;
  color: #333;
  border-radius: 2px;

  @include button-color(#EEE);

  &.button-primary {
    @include button-color($green);
    color: white;
  }

  &.button-danger {
    @include button-color($red);
    color: white;
  }

  &.button-actived {
    cursor: default;
  }
}

.button-group {
  .button {
    border-radius: 0;
    border-right-width: 0;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
      border-right-width: 1px;
    }
  }
}
