body {
  color: #333;
  background-color: #F9F9F9;
  font-size: 14px;
}

h1, h2, h3, h4 {
  margin: 1.6em 0 1em;
  color: #555;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  margin: 1em 0;
}

article {
  font-size: 1em;
  line-height: 160%;

  * {
    line-height: 160%;
  }

  blockquote {
    margin: 1em 0;
    padding: 0 0 0 1em;
    border-left: 5px solid #ccc;
    color: #555;
  }

  p code {
    margin: 0 5px;
    padding: 0 5px;
    background-color: #eee;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  margin: 40px 0;
  border: 0;
  height: 1px;
  background-color: #ccc;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: $container-width;
}

.alert-message {
  position: fixed;
  top: 102px;
  right: 50%;
  margin-right: -460px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: #fff;
  z-index: 2000;
  opacity: 1;
  visibility: visible;
  @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.3));
  @include transition(top 0.15s ease, visibility 0s ease 0.15s, opacity 0.15s ease);

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  i {
    margin-right: 5px;
  }

  &.loading {
    i {
      display: inline-block;
      @include animation(spin 1s infinite linear);
    }
  }

  &.error {
    background-color: $red;
  }

  &.success {
    background-color: $green;
  }
}

.editor-container {
  margin: 0 auto;
  width: $editor-container-width;

  .alert-message {
    margin-right: -364px;
    top: 102px;
  }
}

.clearfix {
  @include clearfix();
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hide {
  display: none;
}

// form

#{$all-text-inputs},
textarea {
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 10px;
  outline: 0;
  border-radius: 3px;
  @include box-sizing(border-box);

  &:focus {
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    @include transition(box-shadow 0.15s ease);
  }
}

select {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 4px 5px;
  outline: 0;
  border-radius: 3px;
}

.field {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  label.message {
    margin: 5px 0 0;
  }

  .field_with_errors {
    label.message {
      color: $red;

      &::before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f05e"; // ban-icon
        margin-right: 2px;
      }
    }
  }
}

// button

@mixin button-color($color) {
  border: 1px solid darken($color, 15%);
  @include linear-gradient($color, darken($color, 10%));

  &:hover,
  &:focus {
    @include linear-gradient(darken($color, 5%), darken($color, 10%));
    text-decoration: none;
  }

  &.button-actived,
  &:active {
    @include box-shadow(inset 0 1px 3px darken($color, 20%));
    @include linear-gradient(darken($color, 10%), darken($color, 15%));
  }
}

.button {
  color: #555;
  padding: 5px 10px;
  margin-right: 10px;
  font-weight: normal;
  display: inline-block;
  border-radius: 3px;
  @include button-color(#fefefe);

  &.no-margin {
    margin: 0;
  }

  &.button-primary {
    color: #fff;
    @include button-color($green);
  }

  &.button-danger {
    color: #fff;
    @include button-color($red);
  }
}

a.button:hover {
  text-decoration: none;
}

.button-group {
  display: inline-block;
  margin-right: 10px;

  .button {
    margin-right: 0;
    border-radius: 0;

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-left: 0;
      border-radius: 0 3px 3px 0;
    }
  }
}

// dropdown

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  a {
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }

  .dropdown-toggle {
    position: relative;
    padding: 5px 27px 5px 10px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      position: absolute;
      right: 0;
      padding: 2px 10px;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f0d7";
    }
  }

  .dropdown-menu {
    display: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    width: 140px;
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff;
    @include box-shadow(0 2px 10px 1px rgba(0, 0, 0, 0.5));

    &.align-right {
      left: auto;
      right: 0;
    }

    li {
      display: block;
      cursor: pointer;
      float: none;

      hr {
        margin: 3px 0;
      }

      a {
        display: block;
        padding: 6px 10px;

        &:hover {
          background-color: #555;
          color: #fff;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &.actived {
    .dropdown-toggle.button {
      @include box-shadow(inset 0 1px 2px darken(#fff, 25%));
      @include linear-gradient(darken(#fff, 10%), darken(#fff, 25%));
    }

    .dropdown-toggle:after {
      content: "\f0d8";
    }

    .dropdown-menu {
      display: block;
    }
  }
}

// layout

#topbar {
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 45px;
  border-bottom: 1px solid #ccc;
  @include transition(top 0.15s ease);
  @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.3));

  &.no-shadow {
    @include box-shadow(none);
  }

  ul.top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    @include clearfix();

    > li {
      display: inline-block;
      float: left;

      > a {
        padding: 15px 10px 14px;
        display: block;
        color: #555;
        @include transition(all 0.15s ease);

        &:hover {
          color: #fff;
          background-color: #555;
          text-decoration: none;
        }
      }
    }
  }

  #book-selector.dropdown {
    .dropdown-toggle {
      width: 100px;
    }
  }

  .dropdown {
    .dropdown-toggle {
      padding: 15px 30px 14px 15px;
      color: #555;
      vertical-align: baseline;

      &:after {
        padding: 2px 15px;
      }

      &:hover {
        color: #fff;
        background-color: #555;
      }
    }

    .dropdown-menu {
      top: 47px;
      width: 145px;
      font-weight: normal;

      li {
        a {
          padding: 10px 15px 9px;
        }
      }
    }

    &.actived {
      .dropdown-toggle {
        color: #fff;
        background-color: #555;
      }
    }
  }
}

#site-header {
}

#editor-header {
  @include box-shadow(none);

  .pull-right {
    padding: 15px 0;
  }

  .button {
    display: inline;
  }
}

#toolbar {
  background-color: #555;
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 9;
  @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
  @include transition(top 0.15s ease);

  ul.toolbar-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix();

    [class^="icon-"], [class*=" icon-"] {
      line-height: 14px;
    }

    li {
      display: inline-block;
      float: left;

      a {
      }

      .toolbar-button {
        padding: 10px;
        display: block;
        color: #fff;

        &:hover {
          text-decoration: none;
          color: #555;
          background-color: #f9f9f9;
        }

        &.actived,
        &:active {
          color: #555;
          background-color: #f9f9f9;
        }

        &.disabled,
        &.disabled:hover,
        &.disabled:focus {
          color: #999;
          background-color: #555;
        }
      }
    }

    p, h1, h2, h3, h4, pre, blockquote {
      padding: 0;
      margin: 0;
    }

    .dropdown {
      position: relative;

      .dropdown-toggle {
        width: 80px;
        padding-right: 20px;
        font-weight: bold;
        line-height: 14px;

        &:after {
          right: 0;
          padding: 2px 10px;
        }
      }

      .dropdown-menu {
        top: 36px;
        left: 0;

        li {
          display: block;
          float: none;

          a {
            padding: 10px;

            &:hover {
              h1, h2, h3, h4 {
                color: #fff;
              }
            }
          }
        }
      }

      &.actived {
        .dropdown-toggle {
          color: #555;
          background-color: #f9f9f9;
        }
      }
    }
  }
}

#editarea {
  margin-top: 82px;
  @include transition(margin-top 0.15s ease);

  article {
    background: #FFF;
    padding: 70px;
    outline: 0;
    min-height: 1024px;
    margin-bottom: 60px;
    border: 1px solid #ccc;

    h1 {
      margin-top: 0;
    }

    img {
      max-width: 100%;
    }
  }
}

.pick-up-topbar {
  #topbar {
    top: -46px;
  }

  #toolbar {
    top: 0;
  }

  #editarea {
    margin-top: 37px;
  }

  #pick-up-button.icon-double-angle-up:before {
    content: "\f103";
  }

  .alert-message {
    top: 57px;
  }
}

#mainarea {
  margin-top: 82px;
  #main {
    background: #FFF;
    padding: 40px;
    border: 1px solid #ccc;
    margin-bottom: 60px;
    @include clearfix();

    &.articles-list {
      min-height: 1024px;
    }

    .field {
      #{$all-text-inputs} {
        width: 37.5%;
      }

      textarea {
        width: 75%;
        height: 120px;
      }
    }


    &.signup {
      width: 55%;
      margin: 105px auto 0;

      #{$all-text-inputs} {
        width: 75%;
      }
    }

    #main-nav {
      width: 18%;
      height: 1px;
      margin-right: 2%;
      float: left;

      nav {
        font-size: 1.5em;
        width: 150px;

        &.fixed {
          position: fixed;
        }

        li {
          margin-bottom: 10px;

          a {
            color: #555;
            border-radius: 3px;
            padding: 5px 10px;
            display: block;
            @include transition(all 0.15s ease);
          }

          a:hover,
          &.active a {
            color: #fff;
            background-color: #555;
            text-decoration: none;
          }
        }
      }
    }

    #main-content {
      width: 80%;
      float: left;

      table.articles {
        width: 100%;

        tr {
          border-top: 1px dashed #ddd;

          &.selected {
            background-color: #eee;
          }

          &:hover {
            background-color: #eee;
            cursor: pointer;
          }

          &:last-child {
            border-bottom: 1px dashed #ddd;
          }

          &.publish {
            .icon-status:before {
              color: gray;
              content: "\f111";
            }
          }

          &.draft {
            .icon-status:before {
              color: gray;
              content: "\f10c";
            }
          }

          &.trash {
            .icon-status:before {
              color: gray;
              content: "\f014";
            }
          }
        }

        td {
          padding: 15px 20px;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }

          &.title {
            width: 99%;

            i {
              margin-right: 5px;
            }
          }

          &.book,
          &.date {
            width: 1%;
            white-space: nowrap;
            text-align: right;
          }

          .book_name {
            font-size: 0.9em;
            color: #555;
            padding: 3px 5px;
            background-color: #eee;
            border-radius: 3px;
          }
        }

        a {
          color: #555;

          &:hover {
            color: $linkColor;
          }
        }
      }
    }
  }
}

#bulkbar {
  position: fixed;
  display: none;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 9;
  border-bottom: 1px solid #ccc;
  background-color: #555;
  @include box-shadow(0 1px 8px rgba(0, 0, 0, 0.3));

  #bulkmenu {
    padding: 0 40px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    @include clearfix();

    &.pull-left {
      margin-left: 20%;
    }

    > li {
      display: inline-block;
      float: left;

      > a {
        padding: 10px;
        display: block;
        color: #fff;

        &:hover {
          text-decoration: none;
          color: #555;
          background-color: #f9f9f9;
        }

        &.disabled {
          color: #999;

          &:hover {
            background-color: transparent;
          }
        }
      }

      > span {
        padding: 10px 10px 10px 5px;
        display: inline-block;
        color: #fff;
      }
    }
  }
}

#spinner {
  position: fixed;
  top: 11px;
  left: 50%;
  z-index: 2000;
  margin-left: -12px;
  display: none;

  i {
    font-size: 24px;
    color: #999;
    display: inline-block;
    @include animation(spin 1s infinite linear);
  }
}

#empty-message {
  text-align: center;
  padding: 20px;
  font-size: 2em;
  border: 2px dashed #ccc;
  color: #999;
}

// modal

#modal-background {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;

  &.level-2 {
    z-index: 2000;
  }
}

.modal-dialog {
  position: fixed;
  display: none;
  top: 30%;
  left: 50%;
  background: white;
  border: 1px solid #ccc;
  padding: 30px;
  @include box-shadow(0 4px 16px rgba(0, 0, 0, 0.5));

  width: 340px;
  margin-left: -186px;

  span.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: #999;

    &:hover {
      color: #444;
    }
  }

  .field {
    #{$all-text-inputs} {
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 120px;
    }
  }
}
