body {
  background-color: $background-color;
  font-size: 14px;
  font-family: $helvetica;
}

h1 {
  margin-top: 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#mainbar {
  width: 768px;
  margin: 0 auto 60px;
}

#site-header {
  padding: 20px 0;

  h1 {
    font-size: 1.3em;
    margin: 0;

    span {
      margin-right: 5px;
      color: $gray-light;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#toolbar {
  height: $toolbar-height;
  width: 768px;
  position: fixed;
  top: 0;
  margin-left: -30px;
  padding: 20px 30px 5px;
  background-color: $background-color;

  &.toolbar-shadow {
    @include box-shadow(0 5px 5px -4px $box-shadow-color);
  }

  h1 {
    font-size: 1.3em;
    margin: 0;

    span {
      margin-right: 5px;
      color: $gray-light;

      &:last-child {
        margin-right: 0;
      }
    }

    .permark-link {
      &:hover {
        color: $gray-light;
        cursor: pointer;
        background: $inline-edit-background-color;
      }
    }

    .preview a:hover {
      text-decoration: none;
    }
  }

  ul.toolbar-bottons {
    list-style: none;
    margin: 0 0 5px;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 30px;

    li {
      display: inline-block;
      padding: 5px;
      cursor: pointer;

      &:hover {
        color: $link-color;
      }

      &:first-child {
        padding-left: 0;
      }

      select {
        cursor: pointer;
      }
    }
  }

  ul.toolbar-menu {
    list-style: none;
    margin: 0 0 5px;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 30px;

    li {
      display: inline-block;
      padding: 5px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

#editarea {
  margin-top: $toolbar-height + 27px;
  background-color: white;
  min-height: 1024px - 120px;
  padding: 60px;
  outline: none;
  @include box-shadow(0 0 2px 1px $box-shadow-color);
}

#main {
  background-color: white;
  padding: 20px;
  @include box-shadow(0 0 2px 1px $box-shadow-color);
  @include clearfix();
}

#main-nav {
  float: left;
  width: 130px;
  margin-right: 28px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.3em;

    li {
      margin-bottom: 10px;
    }

    a {
      color: $gray;
      display: block;

      &:hover {
        color: $link-color;
      }
    }

    .active a {
      color: $link-color;
    }
  }
}

#main-content {
  width: 570px;
  float: left;

  header {
    margin-bottom: 5px;

    .search {
      float: left;
    }

    .actions {
      float: right;
      margin-top: 3px;
    }

    @include clearfix();
  }

  table.articles {
    width: 100%;

    tr {
      border-bottom: 1px $gray-lighter solid;
    }

    td {
      padding: 0;
    }

    td.article-date {
      width: 1%;
      white-space: nowrap;
      color: $gray;
    }

    .article-title {
      a {
        display: block;
        padding: 10px 10px 10px 0;
        color: $gray;
        font-weight: bold;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  ul.books {
    list-style: none;
    margin: 10px 0 0 -10px;
    padding: 0;
    @include clearfix();

    li {
      float: left;
      margin: 0 0 10px 10px;

      a {
        display: block;
        height: 80px;
        width: 260px;
        padding: 10px;
        color: $gray;

        &:hover {
          background-color: $gray-lighter;
        }
      }

      .book-cover {
        float: left;
        width: 60px;

        img {
          width: 60px;
          height: 80px;
        }
      }

      .book-info {
        float: left;
        margin-left: 10px;
      }

      .book-name {
        font-size: 1.3em;
      }
    }
  }
}

