@import "common";

#main {
  margin: 50px auto 50px;
  width: 960px;

  .container {
    @include clearfix();
  }

  #profile {
    width: 180px;
    margin-right: 12px;
    float: left;

    hr {
      margin: 10px 0;
    }

    .avatar {
      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }

    h1 {
      font-size: 1.5em;
      margin: 20px 0;
    }

    h2 {
      font-size: 1.2em;
    }

    .description {
      color: #555;
      margin-bottom: 20px;
    }

    nav {
      color: #555;

      li {
        display: block;
        margin-bottom: 10px;
      }

      a {
        color: #555;

        &:hover {
          text-decoration: none;
          color: $linkColor;
        }
      }
    }
  }

  #main-content {
    width: 768px;
    padding: 0 70px;
    @include box-sizing(border-box);
    float: left;

    header {
      margin-bottom: 10px;

      a {
        font-size: 1.5em;
        color: #999;
        font-weight: bold;

        &:hover {
          text-decoration: none;
          color: #555;
        }
      }
    }

    article {
      padding-bottom: 70px;
      margin-bottom: 70px;
      border-bottom: 1px solid #ccc;

      &:first-child {
        padding-top: 0;
      }

    }
  }

  #paginator {
    padding: 70px 0;
    @include clearfix();

    a {
      font-size: 1.5em;
      color: #999;

      &:hover {
        color: #555;
        text-decoration: none;
      }
    }

    .prev {
      float: left;
    }

    .next {
      float: right;
    }
  }

  #books {
    .book {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;

      .title {
        h1 {
          font-size: 1.5em;
          margin: 0;
        }
      }

      .description {
        margin-bottom: 10px;
      }

      nav {
        li {
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
  }
}
