@import "common";

.container {
  width: 768px;
  margin: 0 auto;
}

.inner {
  padding: 0 70px;
}

#header {
  padding: 20px 0;
  margin-bottom: 20px;
  color: #999;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

#profile {
  padding: 40px 0;
  border-bottom: 2px solid #ccc;
  @include clearfix();

  &.bottom {
    margin: 40px 0;
    border-top: 2px solid #ccc;
  }

  .avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    img {
      border-radius: 50px;
    }
  }

  .info {
    float: left;
    width: 768px - 140px - 100px - 20px;

    h1 {
      line-height: 160%;
      margin: 0;
    }
  }

  .description {
    p {
      margin-bottom: none;
    }
  }
}

#book {
  padding: 40px 0;
  border-bottom: 2px solid #ccc;

  h1 {
    line-height: 160%;
    margin: 0;
  }

  .info {
    color: #999;
  }

  .description {
    p {
      margin-bottom: 0;
    }
  }
}

#articles {
  article {
    margin: 40px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;

    h1 {
      line-height: 160%;
      margin: 0;
    }

    .info {
      color: #999;
      margin-bottom: 1em;
    }


    h1, .summary {
      a {
        display: block;
        color: #333;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }

    h1 a:hover {
      color: $linkColor;
    }
  }
}

#books {
  section {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;

    h1 {
      margin: 0;
      line-height: 160%;
    }

    .info {
      color: #999;
    }

    .description {
      p {
        margin-bottom: 0;
      }
    }
  }
}

#paginator {
  margin: 40px 0;
  font-size: 1.5em;
  @include clearfix();

  a {
    color: #555;

    &:hover {
      color: $linkColor;
      text-decoration: none;
    }
  }

  .next {
    float: left;
  }

  .prev {
    float: right;
  }
}
