@import "common";

body {
  background-color: #fff;
}

#main {
  width: 768px;
  margin: 50px auto;

  .container {
  }

  #profile {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    text-align: center;

    .avatar {
      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }

    .name {
      h1 {
        margin: 20px 0;
      }
    }

    .description {
      font-size: 1.2em;
      color: #555;
      margin-bottom: 20px;
    }

    .links {
      a {
        color: #555;
        font-size: 1.2em;
        margin: 0 10px;
        padding: 5px 10px;
        border-radius: 3px;
        display: inline-block;

        &.actived,
        &:hover {
          background-color: #555;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  #articles {
    .article {
      border-bottom: 1px solid #ccc;
      padding: 70px;

      .header {
        margin-bottom: 10px;

        a {
          font-size: 1.5em;
          color: #999;
          font-weight: bold;

          &:hover {
            text-decoration: none;
            color: #555;
          }
        }
      }
    }
  }
}
