$red: #d2322d;
$green: #5cb85c;
$blue: #357ebd;
$yellow: #ed9c28;
$linkColor: $blue;

$container-width: 960px;
$editor-container-width: 768px;
$site-container-width: 768px;

$commonLineHeight: 20px;
$commonPadding: 20px;
$commonMargin: 20px;

$buttonPaddingY: 7px;
$buttonPaddingX: 15px;
$buttonRadius: 2px;
