// Grays
$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #999;
$gray-lighter: #EEE;

$green: #51A351;
$red: #bd362f;
$blue: #08c;

$background-color: #FDF5E6;
$primary-color: $red;
$second-color: #5F9EA0;
$third-color: #666;

$inline-edit-background-color: lighten(yellow, 30%);
$link-color: $primary-color;
$box-shadow-color: #CCC;

$toolbar-height: 60px;
