// Grays
$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #999;
$gray-lighter: #EEE;

$green: #51A351;
$red: #bd362f;
$blue: #08c;

$background-color: #FDF5E6;
$inline-edit-background-color: lighten(yellow, 30%);
$link-color: $red;
$box-shadow-color: #CCC;

$container-width: 960px;
$editor-width: 768px;
$toolbar-height: 60px;
