<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      {% include pages.html %}
      <div class="content">
        <section class='post'>
          <h1 class="upcase">
            <div class='date'>{{ page.date | date_to_string }}</div>
            {{ page.title }}
          </h1>
          {{ content }}
          {% include signoff.html %}


        </section>
      </div>
      {% if page.share == 'y' %}
        {% include share.html %}
      {% endif %}

      {% if page.disqus == 'y' %}
        {% include disqus.html %}
      {% endif %}
      {% include links.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
